@import url('http://fonts.googleapis.com/css?family=Noto+Serif');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: Noto Serif;
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}

code {
    font-family: monospace;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #7a5ada; 
}
h1, h2, h3, h4, h5 { font-family: Open Sans;
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: #7a5ada; }
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

p { 
        margin: 0;
}

#beginning {
	padding-top: 1em;
	padding-bottom: 3em;
        font-size: 100%;
        color: gray;
        text-align: center;
}

#footer {
        padding-top: 4em;
        padding-bottom: 1em;
        font-size: 100%;
        color: gray;
        text-align: center;
        }
