<article class="book">
  <header>
    <h2 class="text-primary"><%= @book.title %></h2>
    <aside class="book-cover">
      <%= image_for(@book) %>
    </aside>
  </header>
  <p><%= @book.abstract %></p>

  <section>
    <header><h4 class="text-primary">Details</h4></header>

    <p>
      <label>Author:</label>
      <%= @book.author %>
    </p>
    <p>
      <label>Genre:</label>
      <%= @book.genre %>
    </p>
    <p>
      <label>Pages:</label>
      <%= number_with_delimiter(@book.pages) %>
    </p>
    <p>
      <label>Published On:</label>
      <%= @book.published_on %>
    </p>
    <p>
      <label>Average Review:</label>
      <span id="average_review">
      <%= render partial: 'average_stars', locals: { book: @book } %>
      </span>
    </p>
  </section>

  <section>
    <header><h4 class="text-primary">Download a book</h4></header>
    <% if @book.assets.any? %>
        <% @book.assets.each do |asset| %>
        <p>Download in
            <span id="read_reviews">
              <%= link_to asset.asset_url.to_s.split('.').last, asset.asset_url %>
            </span><br/>
        </p>
        <% end %>
    <% else %>
      <p>
        There is no book formats available
      </p>
      <ol id="reviews"></ol>
    <% end %>
  </section>

  <section>
    <header><h4 class="text-primary">Recent Reviews</h4></header>
    <% if @book.recent_reviews.any? %>
      <%= render partial: 'shared/reviews', locals: { reviews: @book.recent_reviews } %>
      <p>
        Read all
        <span id="read_reviews">
          <%= link_to pluralize(@book.reviews.size, 'review'), book_reviews_path(@book) %>
        </span>
      </p>
    <% else %>
      <p>
        Be the first to write a review!
      </p>
      <ol id="reviews"></ol>
    <% end %>
  </section>

  <nav>
    <%= link_to 'Write a Review', new_book_review_path(@book),
          remote: true,
          data: { 'update-target' => 'review_form_container' },
          class: 'btn btn-primary' %>
  </nav>

  <div id="review_form_container"></div>

  <% if current_user %>
      <nav id="book-show-buttons">
        <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-default' %>

        <span class='inline-button-form'>
          <%= button_to "Delete #{@book.title}", @movie,
                       method: :delete,
                       data: { confirm: 'Are you sure?' },
                       class: 'btn btn-danger' %>
        </span>
      </nav>

      <%= render "assets/upload", :book => @book %>
  <% end %>



</article>
