/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/theme";

body {
  margin-bottom: 60px;
}

.inline-button-form {
  display: inline-block;
}

select.form-control {
  width:auto;

  &.date-select {
    display: inline;
  }
}

.page-entries-info {
  margin-top: 20px;
}

#sidebar {
  width: 200px;
  margin-top: 55px;

  &.affix {
    position: fixed;
    top: 20px;
  }

  a.btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.navbar-header {
  padding-left: 60px;
}