<div id="sidebar" data-spy="affix" data-offset-top="100">
  <div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <p>
        <%= link_to new_book_path, class: 'btn btn-default col-md-12' do %>
            <span class="pull-left glyphicon glyphicon-plus"></span> Create Book
        <% end %>
      </p>
      <p>
        <%= link_to books_path, class: 'btn btn-default col-md-12' do %>
            <span class="pull-left glyphicon glyphicon-list"></span> All Books
        <% end %>
      </p>
      <% if @genres %>
          <% @genres.each do |genre| %>
              <p>
                <%= link_to genre_path(genre), class: 'btn btn-default col-md-12' do %>
                    <span class="pull-left glyphicon glyphicon-'<%= genre %>'"></span> <%= genre %>
                <% end %>
              </p>
          <% end %>
      <% end %>

    </div>
  </div>
</div>
